.main-title {
    margin-top: 1em;
}

.box {
    border-radius: 4px;
    /*border: 1px solid #F4E4B4;*/
    /*background-color: #98AFC7;*/
    /*height: 180px;*/
    min-height: 100px;
    /*background-color: #FFFFF0;*/
    background-color: #f5f5f5;
    margin: 0 1em 1em 1em;
}

.little-gapper {
    margin: 5px 0 5px 0;
}

#footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

#footer p {
    text-align: center;
    padding-top: 20px;
}

.type-to-editor {
    margin-top: 1em;
}
